# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lesson-04/libabc/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

temp.py
.idea/

/lesson-01-AI-basic/train_sqlResult_1558435.csv
/lesson-01-AI-basic/train.txt
/lesson-01-AI-basic/train_movie_comments.csv
/lesson-01-AI-basic/train_article_9k.txt
/lesson-01-AI-basic/test_lesson-01_lan_model_class.py
/lesson-02-crawler-metro/读取表格.xlsx
/lesson-02-crawler-metro/test.html
/lesson-02-crawler-metro/temp.html
/lesson-03-Algorithms-saleman/logs.log
/lesson-04/opencc-1.0.4-win32.7z
/lesson-04/zhwiki-20190720-pages-articles-multistream.xml.bz2
/lesson-04/zhwiki-latest-pages-articles.xml.bz2
/lesson-04/zh_wiki_00
/lesson-04/zh_wiki_01
/lesson-04/zh_wiki_02
/lesson-04/zhwiki500/
/lesson-04/zhwiki/
/lesson-04/wikiextractor/
/lesson-04/zhwiki-20190720-pages-articles-multistream.xml
/lesson-04/data/
/【Code】《Python自然语言处理实战：核心技术与算法》
/lesson-04/test_kaggle_t-SNE.py
/lesson-06/Lesson-06-First-Step-on-Machine-Learning_.pdf
/lesson-07-ML-model/data/
/data/
/lesson-05-project-01/data/
!/similar_said/urils.py
/lesson-05-project-01/database/get_data - 快的.py
/lesson-05-project-01/database/get_data-慢的.py
/lesson-05-project-01/instance/
/lesson-09/notMNIST_large/
/lesson-09/notMNIST_small/
/lesson-09/notMNIST_large.tar.gz
/lesson-09/notMNIST_small.tar.gz
/tensorflow/MNIST_data/
/lesson-11-project-02/Lecuter-18-AutoSummarizaiton.pdf

/lesson-13-RNN-kaggle/input/
/lesson-11-project-02/Lesson-11-more-about-word2vec.pdf
/lesson-13-RNN-kaggle/Lecture-13-RNN(1).pdf
/lesson-13-RNN-kaggle/《The automatic creation of literature abstract》的研究论文，它利用词频和词组频率等特征从文本中提取重要句子，用于总结内容.pdf
/lesson-12-CNN/Lesson-12.pdf
/data/
/run-book-ml-skilearn/.ipynb_checkpoints/
/lesson-13-RNN-kaggle/toxic-comment-classification-Keras-Bi-LSTM/input/
/lesson-13-RNN-kaggle/toxic-comment-classification-challenge/input/
/lesson-13-RNN-kaggle/toxic-comment-classification-Keras-Bi-LSTM/weights_base.best.hdf5
/lesson-13-RNN-kaggle/toxic-comment-classification-Keras-Bi-LSTM/baseline.csv
/lesson-13-RNN-kaggle/toxic-comment-classification-challenge/submission.csv
/lesson-14-project-03-Seq2seq/Seq-ELMO与Transformer.pptx
/lesson-15-Dialogue/Lecture-15-Dialogue.pdf
/lesson-16-project-04/Lecture-16.pdf
/lesson-16-project-04/项目4指导书.pptx
/lesson-10-hand-NN-framework/Lesson-10(1).pdf
/run-book-ml-skilearn/datasets/
/kaggle/
/dataset/
/English&Paper/
/conf/
/lesson-11-Word2Vec-FastText-project-02/Lesson-11-more-about-word2vec.pdf
/lesson-16-NLP-future-Project-04/Lecture-16.pdf
/lesson-16-NLP-future-Project-04/项目4指导书.pptx
/lesson-14-Seq2seq-project-03/Seq-ELMO与Transformer.pptx
/lesson-11-NLP-embedding-project-02/Lesson-11-more-about-word2vec.pdf
/lesson-04-NLP-basic-word2vec/data/
/lesson-04-NLP-basic-word2vec/wikiextractor/
/lesson-06-ML-basic/Lesson-06-First-Step-on-Machine-Learning_.pdf
/lesson-05-NLP-common-project-01/input/
/lesson-05-NLP-common-project-01/output/
/lesson-07-ML-model/Lesson-07-08-Classicial-ML-Models.pdf
/lesson-07-ML-model/.ipynb_checkpoints/
/lesson-09-DL-basic/.ipynb_checkpoints/
/lesson-09-DL-basic/notMNIST_large/
/lesson-09-DL-basic/notMNIST_small/
/lesson-09-DL-basic/notMNIST_large.tar.gz
/lesson-09-DL-basic/notMNIST_small.tar.gz
/lesson-07-ML-model/lesson07-review/
/Books/linux简单命令速查表.图片/
/Books/linux简单命令速查表.pdf
/Books/English_book/
/Books/《深度学习》花书_ AI圣经(Deep Learning) .pdf
/Books/Deep Learning 实战之 word2vec.pdf
/Books/scikit-learn机器学习：常用算法原理及编程实战.pdf
/Books/ppt-深度学习-李宏毅-宝可梦老师.pptx
/Books/python《编写高质量代码 改善Python程序的91个建议》.pdf
/Books/《统计学习方法(李航)》带书签的.pdf
/Books/《机器学习实战：基于Scikit-Learn和TensorFlow》.pdf
/Books/python《流畅的python》.pdf
/Books/《统计学习方法(李航)》.pdf
/Books/《数据挖掘导论  完整版》.pdf
/Books/python《FlaskWeb开发：基于Python的Web应用开发实战》.pdf
/Books/pyhton《Python数据分析基础教程：NumPy学习指南（第2版）》.pdf
/Books/斯坦福CS224n_自然语言处理与深度学习_笔记_hankcs.pdf
/Books/算法《我的第一本算法书》.pdf
/Books/《美团机器学习实践》_美团算法团队.pdf
/Books/《数学之美》吴军.NLP学习必看.pdf
/Books/《统计学习方法（李航） 第2版》.pdf
/Books/《机器学习实战(Peter Harrington著) 中文》.pdf
/Books/《机器学习》西瓜书_周志华.pdf
/Books/机器学习 新手快速入门/
/Books/算法小说《算法神探》一口气就能看完的神奇算法书.pdf
/Books/面试《百面机器学习算法工程师带你去面试》中文PDF.pdf
/Books/《神经网络与深度学习》-邱锡鹏.pdf
/Books/算法《算法图解》.pdf
/Books/《Python自然语言处理实战：核心技术与算法》.pdf
/Books/算法《漫画算法：小灰的算法之旅》.pdf
/lesson-04-NLP-basic-word2vec/wikiextractor/extract.sh
/lesson-04-NLP-basic-word2vec/wikiextractor/categories.filter
/lesson-04-NLP-basic-word2vec/wikiextractor/cirrus-extract.py
/lesson-01-AI-basic/Computer Machinery and Intelligence.pdf
/lesson-01-AI-basic/lesson01-for-2019-summer.pdf
/数据竞赛kaggle/去哪儿网—数据清洗/input/
/数据竞赛/
/lesson-11-DL-embedding-project-02/Lesson-11-more-about-word2vec.pdf
/lesson-11-DL-embedding-project-02/summary_features/training17.txt
/lesson-11-DL-embedding-project-02/summary_features/stopWordList.txt
/数据竞赛kaggle/
